In [1]:
import pandas as pd

In [5]:
addata=pd.read_csv(r'C:\Users\genus\OneDrive\Documents\flights\talkingdata-adtracking-fraud-detection\train_sample.csv')

In [7]:
addata

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
...,...,...,...,...,...,...,...,...
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0

In [8]:
addata.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed'],
      dtype='object')

In [23]:
features=addata[['app','device','os','channel']]

In [24]:
from sklearn.preprocessing import StandardScaler

In [26]:
features=features.fillna(0)

In [27]:
features

       app  device  os  channel
0       12       1  13      497
1       25       1  17      259
2       12       1  19      212
3       13       1  13      477
4       12       1   1      178
...    ...     ...  ..      ...
99995   11       1  19      122
99996    9       1  13      244
99997    3       1  13       19
99998   15       1  12      245
99999   14       1  15      401

[100000 rows x 4 columns]

In [28]:
scaler = StandardScaler()

In [29]:
scaler.fit(features)

StandardScaler()

In [31]:
scaler=scaler.transform(features)

In [34]:
scaler.mean()

-3.169020601490047e-17

In [35]:
mylist=[1,2,3,4,5,6]

In [37]:
sumlist=[]
for index in range(0,len(mylist)):
    for subindex in range(1,len(mylist)):
        sum=mylist[index]+mylist[subindex]
        sumlist.append(sum)

In [40]:
max(sumlist)

12

In [49]:
fiblist=[]
def fibfunc(n):
    sum=0
    a=0
    b=1
    #fiblist.append(a)
    #fiblist.append(b)
    while(a<n):
        fiblist.append(sum)
        sum=a+b
        b=a
        a=sum
    return(fiblist)

In [50]:
fibfunc(10)

[0, 1, 1, 2, 3, 5, 8]

In [82]:
def factfunc(n):
    result=1
    while(n<1):
         result=result*n
         n=n-1
    return(result)

In [83]:
factfunc(19)

1